body {
  background-color: #202632;
  font-family: "Manrope", sans-serif;
}
.box {
  position: relative;
  margin: 100px auto;
  background-color: #313a49;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 45px 45px 65px 45px;
}

#advice {
  color: #52f298;
  font-size: 15px;
  letter-spacing: 3px;
}
#text {
  color: #cee2e9;
  font-size: 30px;
  text-align: center;
  padding: 30px 0;
}

.dice {
  position: absolute;
  bottom: -30px;
  left: 263px;
  border-radius: 50%;
  background-color: #52f298;
  border: none;
  padding: 20px;
  z-index: 999;
}

.dice:hover {
  box-shadow: 2px 2px 30px 1px #52f298;
}

@media (max-width: 375px) {
  body {
    background-color: #202632;
    font-family: "Manrope", sans-serif;
  }
  .box {
    position: relative;
    margin: 100px 15px;
    background-color: #313a49;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 45px 45px 65px 45px;
  }

  #advice {
    color: #52f298;
    font-size: 15px;
    letter-spacing: 3px;
  }
  #text {
    color: #cee2e9;
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
  }

  .dice {
    position: relative;
    bottom: -30px;
    left: 263px;
    border-radius: 50%;
    background-color: #52f298;
    border: none;
    padding: 20px;
  }

  .dice:hover {
    box-shadow: 2px 2px 30px 1px #52f298;
  }
}
